#!/bin/sh

export DEPLOY_ENV=dev
export SECRET_KEY=750UrRKyK0nSX6cASp77hj6Sfb38LvJfAPmP1aIxqE2sDgsfKacQ6vTdSitiry6F
export DATABASE_URL=postgres://admin:1234@localhost:5432/mpact
export BOT_TOKEN=1234567890:oMM9WNHx_7RlUYstgg36hEAeqg0QoPAKHsw
export TELEGRAM_API_ID=1234567
export TELEGRAM_API_HASH=c0ffeecc37ca4ff6ccdf2e68397cdfb7
export ALLOWED_HOSTS='127.0.0.1 localhost'

python3 manage.py $*
