.row {
  justify-content: center;
}

.message-container {
  position: relative;
  padding: 2px 10px;
  align-items: end;
  min-width: 100px;
  margin: 0 0 0.25rem;
  box-sizing: content-box;
}

.message-card {
  background: var(--chat-message-bg-color);
  color: var(--chat-message-color);
  border-radius: 8px;
  font-size: 14px;
  padding: 6px 9px 3px;
  white-space: normal;
  max-width: 100%;
  transition-property: box-shadow, opacity;
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  will-change: box-shadow;
  box-shadow: 0 1px 1px -1px rgb(0 0 0 / 10%), 0 1px 1px -1px rgb(0 0 0 / 11%),
    0 1px 2px -1px rgb(0 0 0 / 11%);
}

.username {
  padding: 4px 0 2px;
}

.username a {
  color: #91ab01;
}

.text-timestamp {
  font-size: 10px;
  color: var(--chat-message-color-timestamp);
  text-align: right;
}

.options-container {
  position: absolute;
  top: 2px;
  right: 10px;
  height: 40px;
  width: 70px;
  overflow: hidden;
  z-index: 1;
  border-top-right-radius: 8px;
}

.message-content a {
  color: #303030;
}

.message-options {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 12px;
}

.message-options svg {
  height: 1.25rem;
  width: 1.25rem;
  padding: 1px;
  margin: 0;
}